{% load staticfiles %}
    <html>
        <head>
            <title>Shop Car</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <script type="text/javascript" src="{% static 'vehiculo/js/jquery.js' %}"></script>
		</head>
        <body>
            <div class="page-header">
                <a href="{% url 'carro_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="">Index</a>
<a href="{% url 'carro_new' %}">New</a>
<a href="{% url 'login_' %}">Login</a>
<a href="{% url 'logout_' %}">Logout</a>
<a href="{% url 'signup_' %}">Signup</a>
<a href="{% url 'busqueda' %}">Busqueda</a>


            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </body>
    </html>