{% load admin_static %}
{% block blockbots %}
  {{ block.super }}
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive_rtl.css' %}" />
<script type="text/javascript" src="{% static 'vehiculo/js/j1.js' %}"></script>

  {% endblock %}

{% load staticfiles %}

    <html>
        <head>
            <title>Shop Car</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
			<meta name="viewport" content="width=device-width; maximum-scale=1; minimum-scale=1;" />
            <link rel="stylesheet" href="{% static 'vehiculo/css/c1.css' %}"/>
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

html, body {
    height: 100%;
}

body {
    max-width: 350px;
    margin: 0 auto;
}

.content {

    height: 100%;
}

</style>
		</head>
        <body>

<div class="content">
    <div class="row vertical-center-row">



 <nav class="navbar navbar-default">
		
 <ul class="navbar-nav mr-auto" style="margin-left:5%">
<a href="{% url 'carro_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
<a href="{% url 'ind' %}">Index</a>		 
<a href="{% url 'login_' %}">Login</a>
<a href="{% url 'logout_' %}">Logout</a>
<a href="{% url 'signup_' %}">Signup</a>
<a href="{% url 'busqueda' %}">Busqueda</a>
<a href="/admin" >Admin</a>
</ul>

</nav>

<div class="alert alert-info" role="alert">
{% if request.user.is_authenticated %}
Bienvenido {{request.user.username}}
{% else %}
Usurio Invitado
{% endif %}
{% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
{% endfor %}
</div>

            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>

	</div>
</div>
        </body>
    </html>