{% extends 'vehiculo/base.html' %}

{% block content %}
    <h1>Lista de carros</h1>

    {% if carro_list %}
{%if not details%}
	<div class = "scrollmenu">
{% else %}
	<div class = "container-lista-carros">
{% endif %}

{% for carro in carro_list %}
	{%if details%}
		<div class = "relative">
	{%endif%}
	<a href="../../vehiculo/busqueda/{{ carro.id }}">
				<img style="margin-left:15%;" src="https://drive.google.com/uc?export=view&id={{ carro.imagen_nombre }}"/>
					{% if details %}
						<div class="absolute">

							<span><b>Precio:</b> {{ carro.precio }}</span>
							<span><b>Placa:</b> {{ carro.placa }}</span>
							<span><b>Año:</b> {{ carro.anio}}</span>
							<span><b>Color:</b> {{ carro.color }}</span>
							<span><b>Marca:</b> {{ carro.marca }}</span>
							<span><b>Modelo:</b> {{ carro.modelo }}</span>
						</div>
					{% endif %}
	  </a>
{%if details%}
	</div>
{% endif %}

      {% endfor %}

</div>


{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
    {% else %}
      <p>No hay carros disponibles.</p>
    {% endif %}
{% endblock %}