{% extends 'vehiculo/base.html' %}

{% block content %}
    <h1>Lista de carros</h1>

    {% if carro_list %}


      {% for carro in carro_list %}


<ul>
	<a href="../../vehiculo/busqueda/{{ carro.id }}">
	  <li>
			<div style="margin-left:15%; ">
				<img src="https://drive.google.com/uc?export=view&id={{ carro.imagen_nombre }}" width=100, height=100/>
			</div>
					{{ carro }}
		  </li>
	  </a>
</ul>

      {% endfor %}

    {% else %}
      <p>No hay carros disponibles.</p>
    {% endif %}
{% endblock %}