{% extends 'vehiculo/base.html' %}

{% block content %}
    <h1>Lista de carros</h1>

    {% if carro_list %}


      {% for carro in carro_list %}


<ul>
	<a href="../../vehiculo/busqueda/{{ carro.id }}">
	  <li>
			<div style="margin-left:15%; ">
				<img src="https://drive.google.com/uc?export=view&id={{ carro.imagen_nombre }}" width=100, height=100/>
			</div>
					{{ carro }}
		  </li>
	  </a>
</ul>

      {% endfor %}
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
    {% else %}
      <p>No hay carros disponibles.</p>
    {% endif %}
{% endblock %}